<div class="flex justify-content-evenly">
  <div class="input">
    <input (keyup)="search()" nz-input placeholder="Buscar por nombre" [(ngModel)]="value" type="text" />
  </div>
  <button nz-button nzType="primary" (click)="showModal(false)">Agregar</button>
</div>
<div class="p-5">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ data.name }}</td>
        <td>{{ data.phone }}</td>
        <td>
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            . . .
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu class="border-round-lg">
              <li nz-menu-item>
                <button nz-button nzType="default" (click)="showModal(true, data._id || '')"><span nz-icon nzType="edit" nzTheme="outline"></span>Editar</button>
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="¿Estás seguro de eliminar este contacto?" (nzOnConfirm)="deleteContact(data._id || '')"><span nz-icon nzType="delete" nzTheme="outline"></span>Eliminar</button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{isEditing ? 'Editar contacto' : 'Agregar contacto'}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <input nz-input placeholder="Nombre" [(ngModel)]="name" type="text" />
    <input nz-input placeholder="Teléfono" [(ngModel)]="phone" type="text" class="mt-2" />
  </ng-container>
</nz-modal>